.buttonsCodeStyles{
    display: flex;
    flex-direction: column;
  button{
    min-width: 100px;
    min-height: 30px;
    margin-bottom: 0.8rem;
    background-color: black;
    border-color: white;
    color: white;
  }
}