.htmlCssJsStyles{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background-color: black;
    height: 95vh;
    padding-right: 2rem;
    padding-left: 5rem;
    .editorRender{
        display: flex;
        width: 100rem;
        margin-top: 3%;
        height: 80vh;
    }
}