.editorJsStyles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    .editorStyle{
        height: 55rem;
    }
}

@media (max-width: 1500px) {
    .editorJsStyles{
    .editorStyle{
        height: 52rem;
    }
}
}

@media (max-width: 1000px) {
    .editorJsStyles{
    .editorStyle{
        height: 64rem;
    }
}
}