.editorJsStyles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    >div{
        height: 100%;
    }
    #editorStyle{
        height: 100%;
    }
}

@media only screen and (max-width: 767px){
    .editorJsStyles{
        >div{
            height: 80%;
        }
    }
}

@media only screen and (max-width: 546px){
    .editorJsStyles{
        width: 100%;
    }
}


