.buttonDefault{
    min-width: 100px;
    min-height: 30px;
    box-shadow: 3px 3px 0px 0px;
    margin-bottom: 0.8rem;
    background-color: black;
    border:solid 1px ;
    border-color: white;
    color: white;
    cursor: pointer;
}