.editorCode {
  flex-direction: column;
  display: flex;
  width: 100rem;
  height: 93.5%;
  margin-top: 3%;
  .reactLive {
    display: flex;
    height: 90%;
    .ideReact {
      background-color: #1a1a1a;
      width: 50%;
      overflow: hidden
    }
    .reactPreview {
        @extend .ideReact;
        background-color: white;
    }
  }
}
