.toolsEditorJs{
    width: 8rem;
    padding-top: 1px;
    color: white;
    padding-left: 28px;
    background-color: #252526;
    display: flex;
    align-items: center;
    p{
        margin: 10px 
     }  
}