.containerNavBar{
    background-color: black;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7rem;
    padding-right: 2rem;
    cursor: pointer;
    a{
        color: white;
    }
    .containerTheme{
        display: flex;
        gap: 2rem;
        color: white;
        svg{
            width: 2rem;
        }
    }

}