
.reactEditorContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background-color: black;
    height: 95vh;
    padding-right: 2rem;
    padding-left: 5rem;
    .buttonReactEditorContainer{
        display: flex;
        justify-content: flex-start;
        align-items: end;
        margin: 3rem 2rem 0rem 2rem;
    }
}
